MONGODB_URI=sampleConnectionString
NEXTAUTH_SECRET=samplenextauthsecret

# imagekit configuration
NEXT_PUBLIC_PUBLIC_KEY="next public key"
NEXT_PUBLIC_URL_ENDPOINT="next public endpoint"
PRIVATE_KEY="your pvivate key"

